.cart-panel {
	padding: 0 !important;
	border-radius: $panel-border-radius $panel-border-radius 0 0 !important;
	background: $font-light-color !important;
	border: 1px solid #1E642B;
	
	.ui-panel-footer {
		@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
		
	}
	
	.ui-panel-titlebar {
		border-radius: $panel-border-radius $panel-border-radius 0 0 !important;
		@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
		border: none !important;
	}
	
	.ui-panel-content {
		padding: 1.5em 0.5em !important;
	}
	
}

.cart-button.ui-button.ui-state-default {
	@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
	border: none !important;
	
	.ui-button-text {
		font-size: small !important;
	}
}

.cart-button.ui-button.ui-state-hover {
	@include background($bg-active-color, $bg-hover-color, 0.6, $bg-hover-color, 0);
}

.cart-button.ui-button.ui-state-active {
	@include background($bg-active-color, $bg-hover-color, 0.6, $bg-hover-color, 0);
}

.order-information-table {

	width: 100% !important;

	th, tr, td {
		border: none !important;
		font-size: small !important;
	}
	
	td {
		background: $font-light-color !important;
	}
	
	.ui-panelgrid-footer {
		.ui-widget-header {
			td {
				@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
			}
		}
	}
	
	.ui-panelgrid-header {
		tr.ui-widget-header {
			td {
				@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
				padding: 4px 10px !important;
			} 
		}
		border: none !important;
	}
}

.order-formation-table {

	.total-sum {
		padding-top: 4px !important;
	}

	.ui-datatable-footer {
		@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
		border: none !important;
	}

	.ui-widget-content {
		border: none !important;
	}
	
	.ui-widget-content.ui-datatable-odd {
		background: $font-light-color !important;
	}
	
	.ui-widget-content.ui-datatable-even {
		background: scale-color($font-light-color, $lightness: -5%) !important;
	
	}

	th {
		@include background($bg-main-color, $bg-light-color, 1, $bg-dark-color, 1);
		
	}

	tr.ui-datatable-empty-message {
		height: 3em !important;
	}

	th, tr, td {
		border: none !important;
		font-size: small !important;
	}
	
	td.remove-column {
		padding: 3px !important;
	}
	
	.quantity-spinner {
		width: 80% !important;
		
		input {
			width: 100% !important;
		}
	}
	
}