@import "settings";

$footer-height: 160px;
$body-bg: #DCFFD7;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  .header {
    background-color: $body-bg;
    padding: 0;
  }
}

.body {
  background-color: $body-bg;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

* html {
  .page-wrapper {
    height: 100%;
  }
}

.page-buffer {
  height: $footer-height;
}

.ui-widget {
	font-family: $font-family-sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}


