$menu-main-color: #1D8225;
$menu-active-color: #48C05C;
$menu-start-gradient: #24FF2C;
$menu-end-gradient: #07770B;
$menu-hover-background: #F0F0F0;
$menu-hover-shadow: 0px 0px 8px #ddd;
$menu-border-radius: 15px;
$menu-color: cornsilk;


.ui-menu {
	background: $menu-main-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-start-gradient, 0.8)), to(rgba($menu-end-gradient, 0.8))) !important;
	border: 1px solid #1E642B;
	border-radius: $menu-border-radius !important;
	width: auto !important;
	padding: 0 !important;
	
	.ui-menuitem-list {
		.ui-menuitem {
			.ui-state-hover {
				background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
				border-radius: $menu-border-radius !important;
				padding: 0px 3px !important;
			}
		}
	}
	
	.ui-menuitem {
		width: 100%;
		float: left;
		clear: both;
		margin: 3px 0 !important;
		padding: 0px 3px !important;
		border-radius: $menu-border-radius !important;
	}
	
	.menu-active {
		background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
		.ui-state-hover {
			background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
			border-radius: $menu-border-radius !important;
			box-shadow: $menu-hover-shadow !important; 
		}
	}
	
	.ui-menuitem-link {
		display: block;
		width: 100% !important;
		outline: none;
		text-decoration: none;
		font-weight: 400;
		border: solid 1px transparent;
		float: left;
		line-height: 16px;
		padding: 0.5em !important;
		cursor: pointer;
		color: $menu-color !important;
	}
	
	.ui-menuitem-active {
		.ui-state-hover {
			background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
			border-radius: $menu-border-radius !important;
			box-shadow: $menu-hover-shadow !important; 
		}
	}
	
	.ui-menu-parent {
		.ui-menu-child {
			width: auto !important;
			background: $menu-main-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-start-gradient, 0.8)), to(rgba($menu-end-gradient, 0.8))) !important;
			border: 1px solid #1E642B !important;
		}
	}
	
	.ui-menu-list {
		.ui-widget-header {
			width: 100% !important;
			margin: 0 !important;
			border-radius: $menu-border-radius $menu-border-radius 0 0 !important;
			background: $menu-main-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-start-gradient, 1)), to(rgba($menu-end-gradient, 1))) !important;
			border: none !important;
		}
		
	}
	
	.ui-menu .ui-widget-header h1, 
	.ui-menu .ui-widget-header h2, 
	.ui-menu .ui-widget-header h3, 
	.ui-menu .ui-widget-header h4, 
	.ui-menu .ui-widget-header h5, 
	.ui-menu .ui-widget-header h6 {
		float: left;
		display: block;
		font-size: 1em;
		margin: 0 auto;
		padding: 0.3em 3%;
		width: 100% !important;
	}
}

.product-menu {
	border-radius: $menu-border-radius $menu-border-radius 0 0 !important;
	
	.ui-state-hover {
		background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
		box-shadow: $menu-hover-shadow !important; 
	}
}

.ui-menubar {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}

.ui-panelmenu {
	.ui-panelmenu-panel {
		.ui-panelmenu-header {
			background: $menu-main-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-start-gradient, 1)), to(rgba($menu-end-gradient, 1))) !important;
		}
		
		.ui-menuitem-link {
			width: 100% !important;
		}
		
		.ui-panelmenu-content {
			background: $menu-main-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-start-gradient, 0.2)), to(rgba($menu-end-gradient, 0.6))) !important;
			padding: 0.2em !important;
			
			.ui-menuitem {
				.ui-menuitem-link {
					color: $menu-color !important;
				}
				
				.ui-state-hover {
					background: $menu-active-color -webkit-gradient(linear, left top, left bottom, from(rgba($menu-hover-background,0.6)), to(rgba($menu-hover-background,0))) !important;
				}
			}
		}
	}
}
