html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.body {
	background-color: grey;
}

.page-wrapper {
	min-height: 100%;
	margin-bottom: -100px;
}

.page-header {
    background-color: grey;
    padding: 0;
    heigth:240px;
  }

.page-buffer {
	height: 100px;
}